In [3]:
import pandas as pd
import numpy as np

In [6]:
geneva_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
geneva_pop.name = 'G7 Population in millions'
print(geneva_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [7]:
geneva_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [8]:
geneva_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

Indexing

In [9]:
geneva_pop.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
geneva_pop.index = [
    'Canada',
    'France',
    'Germany', 
    'Italy',
    'Japan',
    'United Kingdom', 
    'United States',
]

In [11]:
geneva_pop[-1]

318.523

In [12]:
geneva_pop.iloc[3]

60.665

In [13]:
geneva_pop[['France', 'Italy', 'Canada']]

France    63.951
Italy     60.665
Canada    35.467
Name: G7 Population in millions, dtype: float64

In [14]:
geneva_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [15]:
certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned.index = ['Tom', 'Kris', 'Ahmad', 'Beau']

print(certificates_earned.iloc[2])

Certificates        5
Time (in months)    9
Name: Ahmad, dtype: int64

In [39]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64

In [40]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

Conditional Selection(Boolean Arrays)

In [16]:
geneva_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [17]:
geneva_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [18]:
geneva_pop.mean()

107.30257142857144

In [20]:
geneva_pop.max()

318.523

In [22]:
geneva_pop.sum()

751.118

In [24]:
geneva_pop[geneva_pop > geneva_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

DataFrame

In [93]:
data_f = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [94]:
data_f

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [95]:
data_f.index = [
    'Canada', 
    'France', 
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]

In [96]:
data_f

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [97]:
data_f.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

Using the describe() method to give you a good "summary" of the DataFrame

In [98]:
data_f.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [99]:
data_f['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [100]:
data_f.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [101]:
data_f.iloc[1:3, 0:3]

         Population      GDP  Surface Area
France       63.951  2833687        640679
Germany      80.940  3874437        357114

Modifying a Data Frame

Adding a new column

In [118]:
lang = pd.Series(
    ['English', 'French', 'German', 'Italian', 'Japanese', 'English', 'English'],
    index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'], 
    name= 'Language'
)

In [119]:
lang

Canada             English
France              French
Germany             German
Italy              Italian
Japan             Japanese
United Kingdom     English
United States      English
Name: Language, dtype: object

In [120]:
data_f['Language'] = lang

In [121]:
data_f

                Population       GDP  Surface Area    HDI Continent  Language
Canada              35.467   1785387       9984670  0.913   America   English
France              63.951   2833687        640679  0.888    Europe    French
Germany             80.940   3874437        357114  0.916    Europe    German
Italy               60.665   2167744        301336  0.873    Europe   Italian
Japan              127.061   4602367        377930  0.891      Asia  Japanese
United Kingdom      64.511   2950039        242495  0.907    Europe   English
United States      318.523  17348075       9525067  0.915   America   English

Renaming Columns

In [122]:
data_f.rename(
    columns= {
        'HDI' : 'Human Development Index'
    },
    index={
        'United Kingdom' : 'UK',
        'United States' :'USA'
    }
        
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,English
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,Japanese
UK,64.511,2950039,242495,0.907,Europe,English
USA,318.523,17348075,9525067,0.915,America,English

Creating columns from other columns:
    for instance,  calculating the "GDP per capital which is GDP/Population.

In [124]:
data_f[['GDP', 'Population']]

                     GDP  Population
Canada           1785387      35.467
France           2833687      63.951
Germany          3874437      80.940
Italy            2167744      60.665
Japan            4602367     127.061
United Kingdom   2950039      64.511
United States   17348075     318.523

In [126]:
data_f['GDP']/ data_f['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

Adding the result achieved above in the original DataFrame

In [127]:
data_f['GDP per Capital'] = data_f['GDP']/ data_f['Population']

In [128]:
data_f

,Population,GDP,Surface Area,HDI,Continent,Language,GDP per Capital
Canada,35.467,1785387,9984670,0.913,America,English,50339.385908
France,63.951,2833687,640679,0.888,Europe,French,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,German,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,Italian,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,Japanese,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,English,45729.239975
United States,318.523,17348075,9525067,0.915,America,English,54464.120330

Test: What will the following code print out?

In [123]:

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned.index = names
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned['Longest streak'] = longest_streak

print(certificates_earned)

       Certificates  Time (in months)  Longest streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7