In [13]:
import pandas as pd
import numpy as np

In [4]:
 A = np.array([
    ['a', 'b', 'c'],
    ['d', 'e', 'f'],
    ['g', 'h', 'i']
])

print(A[:, :2])

[['a' 'b']
 ['d' 'e']
 ['g' 'h']]

In [10]:
a = np.arange(5)
print(a <= 3)

[ True  True  True  True False]

In [42]:
geneva_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
geneva_pop.name = 'G7 Population in millions'
print(geneva_pop)

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [41]:
geneva_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [44]:
geneva_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [45]:
geneva_pop.index

RangeIndex(start=0, stop=7, step=1)

In [51]:
geneva_pop.index = [
    'Canada',
    'France',
    'Germany', 
    'Italy',
    'Japan',
    'United Kingdom', 
    'United States',
]

In [53]:
geneva_pop[-1]

318.523

In [55]:
geneva_pop.iloc[3]

60.665

In [60]:
geneva_pop[['France', 'Italy', 'Canada']]

France    63.951
Italy     60.665
Canada    35.467
dtype: float64

In [61]:
geneva_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
dtype: float64

In [38]:
certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned.index = ['Tom', 'Kris', 'Ahmad', 'Beau']

print(certificates_earned.iloc[2])

Certificates        5
Time (in months)    9
Name: Ahmad, dtype: int64

In [39]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64

In [40]:
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

print(certificates_earned)

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64